.box {
  display: flex;
  gap: 20px;
  padding: 0px 20px;
}

.table {
  flex-grow: 1;
}

.itembox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.itembox article {
  gap: 20px;
}

.seebtn {
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  border-radius: 5px;
}

.head {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.head div {
  display: flex;
  gap: 20px;
  padding: 10px;
  justify-self: flex-end;
  justify-content: space-between;
  background-color: aqua;
}
