.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
}

.header div {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: white;
}
